.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}


.section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section-header,
.section-content,
.section-footer {
  padding: 0 25px;
}

.section-header {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}
.section-content {

  flex: 4;
  overflow: auto;
  border-bottom: 1px solid var(--divider-color);
  border-top: 1px solid var(--divider-color);
}

.page-footer {
  height: 10vh;
}