.spanBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 16px;
}

.span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: rgba(0, 128, 255, 1);
}

.input {
  width: 276px;
  height: 36px;
}

.pen {
}
